container_commands:
  00_prepare_sqlite:
    command: |
      mkdir -p /var/app/data
      touch /var/app/data/db.sqlite3
      chown -R webapp:webapp /var/app/data
      chmod 775 /var/app/data
      chmod 664 /var/app/data/db.sqlite3

  01_migrate:
    command: "python manage.py migrate"
    leader_only: true

  99_fix_sqlite_permissions:
    command: |
      chown webapp:webapp /var/app/data/db.sqlite3
      chmod 664 /var/app/data/db.sqlite3